* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(7, 7, 32);
    color: white;
    font-family: Tektur;
}

/* Navbar =========================== */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(52, 7, 52);
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 23px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(147, 147, 225);
    font-size: 0.9rem;
}

nav .left {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    font-family: monoton;
    letter-spacing: 2px;
}

#element {
    color: rgb(109, 22, 109);
}

/* Main Section======================================= */
.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 1.8rem;
}

.rightSection img {
    width: 80%;
}

.purple {
    color: rgb(109, 22, 109);
}

/* Second Section : Work Experiences================================== */
main hr {
    border: 0;
    height: 1.80px;
    background-color: purple;
    margin: 40px 80px;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h2 {
    font-size: 2.8rem;
    font-family: poppin;
    margin-top: 20px;
}

.text-gray {
    color: gray;
}

.secondSection {
    height: 90vh;
    width: 80vw;
}

.secondSection .year-line {
    height: 2px;
    width: 80vw;
    background-color: white;
    margin: 50px 0px;
    display: flex;
    margin: 80px 0px;
}

.secondSection .ver-line {
    height: 15vh;
    width: 2px;
    background-color: white;
    margin: 0px 100px;
}
.secondSection .ver-line .img-top{
    width: 30px;
    height: 30px;
    position: relative;
    top: -37px;
    left: -15px;
}
.ver-title{
    position: relative;
    top: 64px;
    width: 150px;
    color: rgb(255, 255, 255);
}
.ver-year{
    position: relative;
    top: 70px;
    width: 130px;
}
.ver-decs{
    position: relative;
    top: 80px;
    color: gray;
    width: 150px;
    font-size: 9px;
}
/* Footer designing =============================== */
footer{
    height: 32vh;
    background-color: rgb(31, 4, 31);
}
.footer{
    display: flex;
    padding: 30px 30px;
    justify-content: space-evenly;
    margin-bottom: 24px;
}
.footer ul li{
   list-style: none;
}
.footer ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 0;
}
.footer-text-gray{
    width: 100%;
    display: flex;
    color: rgb(233, 227, 227);
    justify-content: center;
}
.btns{
    width: 340px ;
    height: 40px;
    margin: 30px 10px;
    margin-top: 60px;
}
.btns .btn{
    font-size: 17px;
    padding: 10px 16px;
    color: white;
    background: rgb(52, 7, 52);
    border-radius: 50px;
    cursor: pointer;
    border: 1.2px solid white;
    margin-right: 13px;
}
.btns .btn:hover{
    font-weight: 20px;
    background-color: white;
    color: rgb(52, 7, 52);
}